html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color: #f9f9f9;
}
.titleContainer {
	width: 100%;
	display: inline-block;
	text-align: center;
}

#resultsViewport {
	min-width: 1436px;
}

#title {
	text-align: center;
	font-family: 'Indie Flower', Arial;
	font-size: 5em;
	min-width: 1436px;
}

#clickTitle:hover {
	cursor: pointer;
}

#subTitle{
	text-align: center;
	font-family: 'Indie Flower', Arial;
	padding: .8em;
}

#map-canvas {
	display: show;
	position: relative;
	height: 92%;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
	margin: 0 auto auto auto;
}

#mapContainer {
	display: show;
	position: relative;
	height: 80%;
	width: 95%;
	bottom: 0px;
	overflow: hidden;
	margin: 0 auto auto auto;
	padding: 1em;
	background: #ffffff;
	box-shadow: 0px 0px 8px #CCCCCC;
	-moz-box-shadow: 0px 0px 8px #CCCCCC;
	-webkit-box-shadow: 0px 0px 12px 6px #CCCCCC;
}

#results {
	display: none;
	width: 70%;
	margin: 0 auto 0 auto;
}

#column1 {
	display: inline-block;
	width: 33%;
	height: auto;
	text-align: center;
}

#column2 {
	display: inline-block;
	width: 33%;
	height: auto;
	text-align: center;
}

#column3 {
	display: inline-block;
	width: 33%;
	height: auto;
	text-align: center;
}

.columnTitle {
	font-family: 'Indie Flower', Arial;
	text-align: center;
	font-size: 1.5em;
	height: 1.5em;
	width: auto;
	vertical-align: middle;
	overflow: hidden;
}

.photoFrame {
	display: inline-block;
	height: 400px;
	width: 326px;
	margin: 1em 0 0 0;
	padding-top: 1em;
	background: #ffffff;
	box-shadow: 0px 0px 2px #CCCCCC;
	-moz-box-shadow: 0px 0px 2px #CCCCCC;
	-webkit-box-shadow: 0px 0px 8px #CCCCCC;
}

.imgMetaData {
	font-family: 'Indie Flower', Arial;
	text-align: center;
	margin-bottom: 1em;
	height: 1.5em;
	line-height: 1.5em;
	overflow: hidden;
}

.caption {
	font-family: 'Indie Flower', Arial;
	text-align: center;
	padding: 0 4em 0 4em;
	margin-top: .5em;
	height: 3em;
	line-height: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	color:white;
	font-family: 'Indie Flower', Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 50px;
	line-height: 43px;
	width: 110px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	margin: 0 1em 0 .5em;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.button:active {
	position:relative;
	top:1px;
}

#loadMore {
	text-align: center;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

#footer {
	font-family: 'Indie Flower', Arial;
	margin-left: 2.2em;
}

#footer a:link {
	text-decoration: none;
}